*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.contain{
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #f44336;
}
.toggle{
    display: none;
    width: 100%;
    height: 72px;
    background-color: #f44336;
    /* padding: 24px 0; */
    position: relative;
}

.toggle i{
    display:inline-block;
    font-size: 24px;
    margin: 10px 0 0 0;
    margin-left: 3%;
    line-height: 36px;
    padding: 8px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.25s;
}
.toggle i:hover{
    background-color: #ccc;
    color: #000;
}
.toggle .logo{
    display: inline-block;
    padding-left: 4%;
    color: #fff;
}
.navbar {
    width: 232px;
    margin: 45px  auto;
    position: relative;
}

.navbar .logo{
    display: block;
    padding: 65px 0;
    margin: 10px 0;
}

.navbar h3{
    display: block;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;

}
ul li{
    margin-left: -16px;
    list-style: none;
}
.list_item li a{
    width: 268px;
    margin: 0 auto;
    padding: 8px 16px;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    color: #fff;
    line-height: 30px;
    transition:  0.25s ease;
}

.list_item li a:hover{
    background-color: #fff;
    color: #000;
}

.header{
    height: 100vh;
    width: calc(100% - 300px);
    position: absolute;
    left: 300px;
    min-height: 100vh;
}

.container{
    padding-top: 90px;
    padding-bottom: 20px;
    width: 90%;
    margin: 0 auto;
}
.title .Interior{
    display: block;
    padding: 0 ;
    font-size: 64px;
    font-weight: 500;
    line-height: 100px;
}

.title .text-color{
    color: #f44336;
    display: block;
    font-size: 48px;
    line-height: 72px;
    margin: 10px 0;
}

hr{
    display: block;
    border-radius: 4px;
    line-height: 24px;
    margin: 20px 0;
    width: 60px;
    height: 8px;
    border: 4px solid red;
}

.car{ 
    width: 90%;
    position: relative;
    margin: 0  auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.picture_1 img, .picture_2 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transition: 0.25s;
}
.picture_1, .picture_2,
.picture{
    overflow: hidden;
}

.picture img {
    width:  100%;
    height:  100%;
    transition: 0.25s;
    cursor: pointer;
}

.picture_1:hover img, .picture_2:hover img,
.picture:hover img{
    transform: scale(1.1);
}

.Services{
    width: 90%;
    margin: 0 auto;
    padding: 75px 0;
}

.Designers, .pakage, .contact{
    width: 90%;
    margin: 0 auto;
    padding: 35px 0;
}
.Designers h1, 
.Services .text,
.pakage h3,
.contact h3{
    display:  block;
    font-size: 48px;
    color: #f44336;
    line-height: 72px;
    font-weight: 500;
    padding: 30px 0;
}
.Designers hr,
.Services hr,
.pakage hr,
.contact hr{
    margin-top: -10px;
}

.Designers .first_text_design,
.Services .first_text,
.pakage p,
.contact p {
    display: block;
    padding: 5px;
}

.Designers .cecond_text_design,
.Services .second_text{
    margin-top: 10px;
}


.title_user span{
    display: block;
    color: #000;
    font-weight: 700;
    line-height: 64px;
}

.list_user{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.list_user img{
    width: 100%;
}

.user1, .user2, .user3{
    /* padding: 0.16px 16px; */
    background-color: #f1f1f1;
}
.sub_user{
    margin-left: 15px;
}
.user1 h2, .user2 h2, .user3 h2{
    font-size: 24px;
    line-height: 36px;
    margin: 10px 0;
    font-weight: 500;
}

.user1 span, .user2 span, .user3 span{
    line-height: 24px;
    color: #ccc;
    font-weight: 500;
}
.user1 p, .user2 p, .user3 p{
    line-height: 24px;
    padding: 16px 0;
    font-weight: 500;
}
.table{
    display: grid;
    gap: 0 12px;
    grid-template-columns: repeat(2, 1fr);
}

.table ul{
    /* width: 546px; */
    text-align: center;
    padding-left: 19px;
}

.table1 li:first-child{
    background-color: #616161;
    padding: 32px 0;
    line-height: 36px;
    color: #fff;
    font-size: 24px;
}

.table2 li:first-child{
    background-color: #f44336;
    padding: 32px 0;
    line-height: 36px;
    color: #fff;
    font-size: 24px;
}
.table1 li,
.table2 li{
    text-align: center;
    line-height: 24px;
    padding: 16px;
    background-color: #f1f1f1;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.table1 li h2, .table2 li h2{
    font-size: 30px;
    line-height: 45px;
    margin: 10px 0;
    font-weight: 500;
}

.table1 li p, .table2 li p{
    line-height: 24px;
    color: #ccc;
    font-weight: 500;
}

.table1 li .btn{
    padding: 12px 24px;
    background-color: #fff;
    border: none;
    line-height: 24px;
    transition: all 0.25s;

}
.table2 li .btn{
    padding: 12px 24px;
    background-color: #f44336;
    border: none;
    line-height: 24px;
    transition: all 0.25s;
}

.table1 li .btn:hover ,
.table2 li .btn:hover{
    background-color: #000;
    color: #fff;
}

.send_contact label{
    display: block;
    margin-top: 15px;
}

.send_contact input{
    width: 100%;
    padding: 10px 8px;
}

.send_contact a{
    padding: 12px 0;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #f44336;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 32px;
    transition: all 0.25s;
}
.send_contact a:hover{
    color: #000;
    background-color: #cccccc;
}

footer{
    width: 100%;
    padding: 36px;
    background-color: #f1f1f1;
    text-align: right;
}

footer p{
    line-height: 64px;
}

footer a:hover{
    color: #ccc;
}

@media screen and (max-width: 922px) {
    .contain {
        width: 0;
    }
    .header {
        width: 100%;
        margin: 0 auto;
        left: 0%;
    }

    .toggle{
        display: block;
    }

}
@media screen and (max-width: 625px){
    .car,.list_user, .table{
        grid-template-columns: repeat(1, 1fr);
    }

    .table1{
        margin-bottom: 12px;
        
    }
}

